<%= form_with model: admin, html: {class: "mt-8 min-h-screen flex flex-col items-start space-y-3"} do |f| %>
  <% if admin.errors.any? %>
    <% admin.errors.full_messages.each do |msg| %>
      <div class="px-3 py-2 flex flex-col justify-center bg-red-200 border-2 border-red-500 text-red-500 text-lg animate__animated animate__headShake">
        <div><%= pluralize(admin.errors.count, 'error') %> stopped editing</div>
        <div> - <%= msg %></div>
      </div>
    <% end %>
  <% end %>
  
  <div class="flex justify-center items-center space-x-3">
    <%= f.label :full_name, class: "text-gray-700 text-lg" %>
    <%= f.text_field :full_name, class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
  </div>

  <div class="flex justify-center items-center space-x-3">
    <%= f.label :username, class: "text-gray-700 text-lg" %>
    <%= f.text_field :username, class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
  </div>

  <div class="flex justify-center items-center space-x-3">
    <%= f.label :email, class: "text-gray-700 text-lg" %>
    <%= f.email_field :email, class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
  </div>

  <div class="flex justify-center items-center space-x-3">
    <%= f.label :contact_one, "Contact", class: "text-gray-700 text-lg" %>
    <%= f.text_field :contact_one, class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
  </div>

  <div class="flex justify-center items-center space-x-3">
    <%= f.label :contact_two, "Another Contact", class: "text-gray-700 text-lg" %>
    <%= f.text_field :contact_two, class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
  </div>

  <div class="flex justify-center items-center space-x-3">
    <div class="text-gray-700 text-lg">Address:</div>
    <div class="flex justify-center items-center space-x-3">
      <%= f.text_field :street, placeholder: "Street", class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
    </div>
    <div class="flex justify-center items-center space-x-3">
      <%= f.text_field :city, placeholder: "City", class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
    </div>
    <div class="flex justify-center items-center space-x-3">
      <%= f.text_field :region, placeholder: "Region", class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
    </div>
  </div>

  <div class="flex justify-center items-center space-x-3">
    <%= f.label :password, class: "text-gray-700 text-lg" %>
    <%= f.password_field :password, class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
  </div>

  <div class="flex justify-center items-center space-x-3">
    <%= f.label :password_confirmation, class: "text-gray-700 text-lg" %>
    <%= f.password_field :password_confirmation, class: "px-2 py-1 text-gray-700 text-lg border border-gray-400 rounded-lg outline-none focus:border-2 focus:border-blue-500 " %>
  </div>

  <div class="flex justify-center items-center space-x-3">
    <%= f.submit yield(:button_name), class: "bg-blue-700 px-2 py-1 text-gray-50 text-lg flex justify-center items-center hover:bg-blue-800 cursor-pointer" %>
  </div>
<% end %>