<%= form_with model: student, html: { class: "w-2/3 py-12 flex flex-col justify-center space-y-3"} do |f| %>
  
  <% if student.errors.any? %>
    <div class="px-3 py-2 flex flex-col justify-center bg-red-200 border-2 border-red-500 text-red-500 animate__animated animate__headShake">
      <div>The form has <%= pluralize(student.errors.count, 'error') %></div>
      <% student.errors.full_messages.each do |msg| %>
        <div> - <%= msg %></div>
      <% end %>
    </div>
  <% end %>
  
  <div class="flex flex-col justify-center">
    <%= f.label :full_name, class: "text-gray-700" %>
    <%= f.text_field :full_name, placeholder: "First Second Third name", class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>
  
  <div class="flex flex-col justify-center">
    <%= f.label :d_o_b, "Date of birth", class: "text-gray-700" %>
    <%= f.date_field :d_o_b, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :father_name, "Father's name", class: "text-gray-700" %>
    <%= f.text_field :father_name, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :father_alive, "Father Alive/Deceased", class: "text-gray-700" %>
    <%= f.select :father_alive, ["Alive", "Deceased"], { include_blank: "" }, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500"  %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :mother_name, "Mother's name", class: "text-gray-700" %>
    <%= f.text_field :mother_name, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :mother_alive, "Mother Alive//Deceased", class: "text-gray-700" %>
    <%= f.select :mother_alive, ["Alive", "Deceased"], { include_blank: "" }, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :contact_one, "Contact Number", class: "text-gray-700" %>
    <%= f.text_field :contact_one, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :contact_two, "Another Contact Number", class: "text-gray-700" %>
    <%= f.text_field :contact_two, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center space-y-1">
    <div class="text-gray-700">Address</div>
    <%= f.text_field :street, placeholder: 'Street', class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
    <%= f.text_field :city, placeholder: 'City', class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
    <%= f.text_field :region, placeholder: 'Region', class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :status_of_parents, "Are parents living together?", class: "text-gray-700" %>
    <%= f.select :status_of_parents, ["Yes", "No", "Divorced"], { include_blank: " " }, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :qualification, class: "text-gray-700" %>
    <%= f.text_field :qualification, placeholder: "Grade / Form ...", class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :pervious_school, "School last attended", class: "text-gray-700" %>
    <%= f.text_field :pervious_school, placeholder: "Name of the school - class", class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :physical_wellbeing, class: "text-gray-700" %>
    <%= f.text_field :physical_wellbeing, placeholder: "Physically sound / challenged ...", class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :mental_wellbeing, class: "text-gray-700" %>
    <%= f.text_field :mental_wellbeing, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :health_issues, "Any health issues", class: "text-gray-700" %>
    <%= f.text_field :health_issues, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :boarding_status, class: "text-gray-700" %>
    <%= f.select :boarding_status, ["Baording", "Day Scholar"], {include_blank: " "}, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.label :admission_number, class: "text-gray-700" %>
    <%= f.text_field :admission_number, class: "px-3 py-2 text-gray-700 border border-gray-400 rounded outline-none focus:border-blue-500" %>
  </div>

  <div class="flex flex-col justify-center">
    <%= f.submit yield(:button_name), class: "bg-blue-700 py-3 flex justify-center items-center text-lg text-gray-50 hover:bg-blue-800 cursor-pointer"%>
  </div>
<% end %>