<%= turbo_frame_tag(dom_id(student)) do %>
  <div class="flex flex-col min-h-screen pt-8 bg-slate-100 border-r border-gray-400">
    <div class="px-4 py-1 text-gray-700 border-b border-gray-700 font-bold">
      <%= student.full_name %>
    </div>
    <%= link_to profile_student_path(student), data: {turbo_frame: "student_info"}, class: "px-4 py-2 text-gray-700 border-b border-gray-400 hover:bg-slate-300" do %>
      Profile
    <% end %>
    <%= link_to '#', data: {turbo_frame: "student_info"}, class: "px-4 py-2 text-gray-700 border-b border-gray-400 hover:bg-slate-300" do %>
      Classes
    <% end %>
    <%= link_to '#', data: {turbo_frame: "student_info"}, class: "px-4 py-2 text-gray-700 border-b border-gray-400 hover:bg-slate-300" do %>
      Discipline and Dorm
    <% end %>
  </div>
<% end %>
